<!DOCTYPE html>
<html lang="en" class="h-full">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="h-full m-0">
    <div class="w-full h-full bg-zinc-900 p-10">
        <h1 class=" text-white text-3xl mb-3 tracking-tighter">All users</h1>
        <div class="users flex gap-3 flex-wrap">
            <% if(users.length >0){ %>
                <% users.forEach(function(user){ %>

                    <div class="user w-72 p-4 bg-zinc-900 rounded-lg">
                        <div class="w-full h-72 bg-zinc-700 rounded-lg overflow-hidden " >
                            <img class="w-full h-full object-cover" src="<%= user.image%>" alt="">
                        </div>
                        <h3 class="text-xl text-zinc-400 mt-3 tracking-tighter"><%= user.name%></h3>
                        <h5 class="text-zinc-400"><%= user.email%></h5>
                        <div class="flex gap-3">
                            <a class="text-zinc-400"  href="/edit/<%= user._id %>">Edit User</a>
                            <a class="text-red-700" href="/delete/<%= user._id %>">Delete User</a>
                        </div>
                        
                     </div>
        
                   <% }) %>
             <%} else{ %>
                 <h3 class="text-zinc-500" >No Users Yet</h3>

           <%  } %>
           

             
        </div>



        <div class="back text-white text-2xl font-bold ">
            <a href="/">Back</a>
        </div>
    </div>
</body>
</html>
